@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
  border: 1px dashed magenta
}

.faux-masonry > div:nth-child(-n+3) {
  transform: translateY(-3em);
}

* {
  scroll-behavior: smooth !important;
}

.hover-full:hover {
  opacity: 100% !important;
}

.menu-separator {
  width: 2em;
  height: .45em;
}

.md-menu > li:hover > a > .menu-separator {
  width: 3em;
}

@media screen and (max-width: 1280px) {
  .faux-masonry > div:nth-child(-n+3) {
    transform: translateY(0);
  }
}
