@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
  border: 1px dashed magenta
}

.faux-masonry > div:nth-child(-n+3) {
  transform: translateY(-3em);
}

* {
  scroll-behavior: smooth !important;
}

.hover-full:hover {
  opacity: 100% !important;
}

.menu-separator {
  width: 2em;
  height: .45em;
}

.md-menu > li:hover > a > .menu-separator {
  width: 3em;
}

.menu-active {
  color: white !important;
}
.menu-active > a > .menu-separator {
  width: 3em !important;
}

body {
  overflow-x: hidden;
}

.gradient-y-transparent-night {
    background: linear-gradient(180deg,hsla(0,0%,8%,0),#1a1b26);
}

.gradient-y-night-transparent {
    background: linear-gradient(0deg,hsla(0,0%,8%,0),#1a1b26);
}

@media screen and (max-width: 1280px) {
  .faux-masonry > div:nth-child(-n+3) {
    transform: translateY(0);
  }
}

.cursor::after{
  content: "█";
  animation: blinker 1.2s linear infinite;
  color: white;
  margin-left: .3em;
}

@keyframes blinker{
  50%{
    opacity: 0;
  }
}

